<div class="jumbotron">
  <h1>Welcome to FiitMind</h1>
  <p>Fitness Insights In Two Minutes a Day</p>
</div>

<hr>

<h4>How full do you feel after every meal?</h4>
<p>It turns out that our bodies are surprisingly good at telling us how we feel. By simply measuring our "fullness" or how satiated we feel at the end of every meal, we can use this information as a fairly accurate proxy for our overall food and calorie intake. We hope through FiitMind, we can change the way you think about eating and exercise by being mindful of your fullness and tracking your data in just a couple minutes each day.</p>

<hr>

<h4>The Fullness Scale</h4
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped table-hover">
      <tr>
        <th>Fullness Score</th>
        <th>Definition</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Seek medical attention (too hungry)</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Feeling a bit light headed</td>
      </tr>

      <tr>
        <td>3</td>
        <td>Stomach is rumbling</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Slightly hungry</td>
      </tr>

      <tr>
        <td>5</td>
        <td>Mostly satisfied, could eat a bit more</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Perfectly satisfied</td>
      </tr>

      <tr>
        <td>7</td>
        <td>Full, a bit sluggish</td>
      </tr>

      <tr>
        <td>8</td>
        <td>Uncomfortably full, tired</td>
      </tr>

      <tr>
        <td>9</td>
        <td>Very uncomfortable, some pain</td>
      </tr>

      <tr>
        <td>10</td>
        <td>Seek medical attention (too full)</td>
      </tr>

    </table>
  </div>
</div>

