<div class="jumbotron">
  <h3>FiitMind</h3>
</div>

<hr>

<h5>How full do you feel?</h5>
<h5>Your fullness score measures how satiated you feel after every meal. Research has shown that our ability to self-monitor and be self-aware of our own bodies is surprisingly accurate.</h5>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped table-hover">
      <tr>
        <th>Fullness Score</th>
        <th>Definition</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Seek Medical Attention</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Feeling a bit light headed</td>
      </tr>

      <tr>
        <td>3</td>
        <td>Stomach is rumbling</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Slightly hungry</td>
      </tr>

      <tr>
        <td>5</td>
        <td>Mostly satisfied, could eat a bit</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Perfectly satisfied</td>
      </tr>

      <tr>
        <td>7</td>
        <td>Full, a bit sluggish</td>
      </tr>

      <tr>
        <td>8</td>
        <td>Uncomfortably full, tired</td>
      </tr>

      <tr>
        <td>9</td>
        <td>Very uncomfortable, some pain</td>
      </tr>

      <tr>
        <td>10</td>
        <td>Seek medical attention</td>
      </tr>

    </table>
  </div>
</div>

